@model List<GamingTech.Web.Models.Product.Accessory>
<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Related Products</h3>
                </div>
            </div>

            <!-- product -->
            @foreach (var product in Model)
            {
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div class="product-img">
                            <img src="@product.ImageURL" alt="">
                        </div>
                        <div class="product-body">
                            @*<p class="product-category">@product.Category</p>*@
                            <h3 class="product-name"><a href="#">@product.Name</a></h3>
                            <h4 class="product-price">
                                MDL @product.Price.ToString("F2")
                                @*<del class="product-old-price">@$@product.OldPrice.ToString("F2")</del>*@
                            </h4>
                            @*<div class="product-rating">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= product.Rating)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o"></i>
                                    }
                                }
                            </div>*@
                            <div class="product-btns">
                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        </div>
                    </div>
                </div>
            }
            <!-- /product -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /Section -->
