@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <h2 style="color: mediumblue;">Registration zoneee</h2>
</head>
<body>
    <div>
    Create a new account here
    </div>
</body>
</html>
