
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset</title>
    <h2>Password Reseet</h2>
</head>
<body>
    <div> 
        Reset your password here
    </div>
</body>
</html>
